@import '~antd/dist/antd.css';

:root {
  --primary-color: #f1dbfb;
  --secondary-color: #d18cf1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.mycooldiv {
  position: relative;
  z-index: 2000;
}

.mycooldiv::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1000;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 77px 0 77px 186px;
  border-color: transparent transparent transparent #f1dbfb;
}

.mycooldiv::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 0 0 200px;
  border-color: transparent transparent transparent #f1dbfb;
}
