:root {
  --primary-color: #f1dbfb;
  --secondary-color: #d18cf1;
}

.pageTitleBackground {
  background-position: center;
  background-size: cover;
  height: 30vh;
  filter: grayscale(40%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
}

.pageTitle {
  padding: 1.5rem 3rem;
  color: #fff !important;
  // background: #000;
  // opacity: 0.5;
  text-align: center;
  position: relative;
}

.pageTitle::after {
  content: '';
  left: 50%;
  top: calc(50% + 5rem);
  height: 4px;
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60%;
}

@media screen and (min-width: 768px) {
  .pageTitle::after {
    top: calc(50% + 3.5rem);
  }
}

.mycooldiv {
  position: relative;
  z-index: 2000;
}

.mycooldiv::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1000;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 77px 0 77px 186px;
  border-color: transparent transparent transparent #f1dbfb;
}

.mycooldiv::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 0 0 200px;
  border-color: transparent transparent transparent #f1dbfb;
}
