.backpaint {
  background-image: url("/backpaint.svg");
  background-repeat: no-repeat;
  background-position: left;
  /* background-size: cover; */
}

.dropbg {
  position: relative;
  z-index: 2000;
}

.dropbg::before {
  position: absolute;
  top: 60%;
  left: 25%;
  content: "";
  z-index: -1000;
  display: block;
  height: 40px;
  width: 40px;
  border: 6px solid #f1dbfb;
  background: #d18cf1;
  border-radius: 100%;
}

.dropbg::after {
  position: absolute;
  top: 60%;
  left: 85%;
  content: "";
  z-index: -1000;
  display: block;
  height: 100px;
  width: 100px;
  border: 20px solid #f1dbfb;
  background: #d18cf1;
  border-radius: 100%;
}

.mycooldiv {
  position: relative;
  z-index: 2000;
}
.mycooldiv::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1000;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 77px 0 77px 186px;
  border-color: transparent transparent transparent #f1dbfb;
}
.mycooldiv::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 0 0 200px;
  border-color: transparent transparent transparent #f1dbfb;
}
