.header {
  display: flex;
  background: #fff;
  z-index: 3000;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0.5rem;

  @media screen and (min-width: 768px) {
    position: sticky;
    top: 0;
    padding: 0.5rem calc((100vw - 1000px) / 2);
  }
}
