.heading {
  background-image: url('/splash.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2rem !important;
  padding: 2rem 0;
  padding-left: 7rem;
  font-weight: 400 !important;
  color: #f1dbfb;
}
