.heading {
  background-image: url('/splash.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem 0;
  padding-left: 7rem;
  font-weight: 300 !important;
}

@media screen and (min-width: 768px) {
  .details {
    padding-right: 6rem;
  }
}
