.link {
  font-weight: 600 !important;
}

.bordered {
  margin-left: 0.5rem;
  border: 2px solid #f1dbfb !important;
}

.active > .bordered {
  border-color: transparent !important;
}

.active > .link {
  background: #d18cf1;
  color: #fff;
  margin-left: 0.5rem;
}
